altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
gitpython
idna
jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markupsafe
matplotlib
narwhals
numpy
openpyxl
packaging
pandas
pillow
ppscore
protobuf
pyarrow
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
smmap
streamlit
tenacity
threadpoolctl
toml
tornado
typing-extensions
tzdata
urllib3
watchdog
setuptools   # ✅ Add this line
markdown-it-py
mdurl
pygments
rich
